/* Array Input Transition */
/* Pop-up */
.pop-up-enter {
  opacity: 0;
  transform: scale(0.9);
}
.pop-up-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.pop-up-exit {
  opacity: 1;
}
.pop-up-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* Fade */
.fade-enter {
  opacity: 0;
  transform: translateY(25%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(25%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms, transform 300ms;
}

/* Fade 2*/
.fade-2-enter {
  opacity: 0;
}
.fade-2-enter-active {
  opacity: 1;
}
.fade-2-exit {
  opacity: 1;
}
.fade-2-exit-active {
  opacity: 0;
}
.fade-2-enter-active,
.fade-2-exit-active {
  transition: opacity 300ms;
}

/* Fade Enter */
.fade-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-left-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-left-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-left-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.fade-left-enter-active,
.fade-left-exit-active {
  transition: opacity 400ms, transform 400ms;
}

/* Enter From Left */
.enter-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.enter-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.enter-left-exit {
  transform: translateX(0);
  opacity: 1;
}
.enter-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
